In [11]:
import sqlite3

In [57]:
db=sqlite3.connect("Employee.sqlite")

In [15]:
curr=db.cursor()
curr.execute('create table  EmployeeDetail (employeeid int Primary Key, name text, age int, department text, salary int)')

In [63]:
curr.execute('Insert into EmployeeDetail values(100,"Rishav",25,"Marketing",50000) ')
db.commit()

ProgrammingError: Cannot operate on a closed database.

In [39]:
db.commit()

AttributeError: 'sqlite3.Connection' object has no attribute 'open'

In [41]:
curr.execute('DELETE FROM EmployeeDetail WHERE employeeid = 101;')
db.commit()

OperationalError: database is locked

In [65]:
db=sqlite3.connect("Employee.sqlite")
curr=db.cursor()
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
curr.execute('Insert into EmployeeDetail values(?,?,?,?,?)',(str(employee_id),str(name),str(age),str(department),str(salary)))

In [67]:
db.commit()